{extend name="base" /}

{block name="container"}
<h1 class="h3 mb-2 text-gray-800">Whois</h1>
<p class="mb-4">
在这里可以查看使用记录
</p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">域名查询记录
        </h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="domain-info" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>域名</th>
                    <th>Whois信息</th>
                    <th>查询时间</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>ID</th>
                    <th>域名</th>
                    <th>Whois信息</th>
                    <th>查询时间</th>
                </tr>
                </tfoot>
                <tbody>
                {volist name="infoList" id="info"}
                <tr>
                    <td>{$info.id}</td>
                    <td>{$info.domain}</td>
                    <td>{$info.info}</td>
                    <td>{$info.update_time}</td>
                </tr>
                {/volist}
                </tbody>
            </table>
            {$infoList|raw}

        </div>
    </div>
</div>

{/block}

{block name="footer"}
{include file="public/iFooter"}
{/block}