<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{:url('admin/index/index')}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Whois</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>控制面板</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- 侧边导航开始 -->
    <div class="sidebar-heading">
        信息设置
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link " href="{:url('/admin/site')}">
            <i class="fas fa-fw fa-cog"></i>
            <span>站点信息修改</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="{:url('/admin/update')}">
            <i class="fas fa-fw fa-cog"></i>
            <span>个人信息修改</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="{:url('/admin/whoisServer')}">
            <span>Whois服务器</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="{:url('/admin/domainInfo')}">
            <span>查询记录</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="{:url('/admin/links')}">
            <span>友情链接</span>
        </a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">

</ul>
<!-- End of Sidebar -->