{extend name="base" /}

{block name="body"}

<div class="container">
   <div class="page-header">
       <h2 class="text-center">关于</h2>
       <hr>
       <div class="row">
           <div class="col-md-4">

           </div>
           <div class="col-md-4">
               <ul class="list-group list-group-flush">
                   <li class="list-group-item">程序基于ThinkPHP+Mysql</li>
                   <li class="list-group-item">github: <a href="https://github.com/anhao">https://github.com/anhao</a></li>
                   <li class="list-group-item">开发：Alone88 <a href="https://alone88.cn">https://alone88.cn</a>  </li>
               </ul>
           </div>
       </div>
   </div>
</div>

{/block}