{block name="header"}
{include file="public/header"}
{/block}

<div id="wrapper">

    <!-- Sidebar -->
    {block name="sidebar"}
    {include file="public/sidebar" /}
    {/block}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            {block name="topbar"}
            {include file="public/topbar"}
            {/block}
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                {block name="container"}

                {/block}





                {block name="footer"}
                {include file="public/footer"}
                {/block}