<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{$page_title|default="" } - {$config.site_name | default="Whois 全球查询"}</title>
    <meta name="keywords" content="{$config.keywords}">
    <meta name="description" content="{$config.description}">
    <meta name="domain" content="{$config.domain}">
    {load href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" /}
    {load href="/static/css/style.css"}
</head>
<body>

<div class="container">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-expand-md sticky-top navbar-light  navbar-transparent">
            <a href="{:url('/')}" class="navbar-brand">{$config.site_name}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{:url('/')}">首页 <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{:url('/links')}">友情链接</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{:url('/contact')}">联系我们<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{:url('/about')}">关于</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

